* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: red;
}

#title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}